@model NProjectMVC.Models.ProjectTask

@{
	ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
	<h4>ProjectTask</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Title)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Title)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Description)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Description)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Deadline)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Deadline)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Status)
		</dt>
		<dd class="col-sm-10">
			@{
				Status status = (Status)Model.Status;
			}
			@status.ToString()
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.EstimatedWorkTime)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.EstimatedWorkTime)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.TimeSpent)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.TimeSpent)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Project)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Project.Name)
		</dd>
	</dl>
</div>
<div class="col-md-4">
	<ul class="list-group">

		@foreach (var member in Model.AssignedMembers)
		{
			<li class="list-group-item">@member.UserName</li>
		}
	</ul>
</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
	<a asp-controller="Project" asp-action="Details" asp-route-id="@Model?.ProjectId">Back to Project</a>
</div>
@if (Model.AssignedMembers.Any(u => u.Id == User.GetUserId()))
{
	<div>
		<a asp-controller="WorkedTask" asp-action="Create" asp-route-taskId="@Model?.Id">Register work</a>
	</div>
}
@if (Model?.WorkedTasks != null)
{
	<partial name="_WorkedTaskList" model="@Model?.WorkedTasks.OrderByDescending(w => w.StartTime)"></partial>
}
