@model NProjectMVC.Models.ViewModel.ProjectVM
@{
	var displayName = "";

	if (Model.Name.Length >= 100)
	{
		displayName = Model.Name.Substring(0, 100) + "...";
	}
	else
	{
		displayName = Model.Name;
	}


}
<div class="row d-flex">
	<div class="col-sm-12 border">
		@displayName
		<div class="d-flex justify-content-between">
			<div class="p-2">
				Progress: @Model.CompletedTask / @Model.TotalTask
			</div>
			<div class="ml-auto p-2">
				<a asp-action="Details" asp-route-id="@Model.Id">Details</a> |
				<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
				<a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
			</div>
		</div>
	</div>
</div>

